backend:
  name: github
  repo: EmanonEnt/asia
  branch: main
  site_url: https://sensational-kangaroo-9944d9.netlify.app
  auth_endpoint: /api/v1/auth

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "index.md"
        fields:
          - label: "Title"
            name: "title"
            widget: "string"
          - label: "Content"
            name: "body"
            widget: "markdown"
